<div class="info-text">
	<span x-mojo-loc="">Use these buttons to see various features:</span>
</div>

<div>
	<button class="palm-button small-button" id='changeMenuButton'>
		<span x-mojo-loc="">Simple Buttons</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id='dividersButton'>
		<span x-mojo-loc="">Dividers / Flexible spaces</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id='togglesButton'>
		<span x-mojo-loc="">Toggle buttons</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id='groupsButton'>
		<span x-mojo-loc="">Groups</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id='fancyChangeButton'>
		<span x-mojo-loc="">Misc stuff</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id='showHideButton'>
		<span x-mojo-loc="">Show/Hide</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id='widthsButton'>
		<span x-mojo-loc="">Width overrides</span>
	</button>
</div>


<div id='menudemo_outputDisplay'>
</div>
