<div class="info-text">
	<span x-mojo-loc="">«Usê thésè bùttóñs tò séé varîoüs fèætürès:Usê thës»</span>
</div>

<div>
	<button class="palm-button small-button" id="changeMenuButton">
		<span x-mojo-loc="">«Sîmplë büttöñsSî»</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id="dividersButton">
		<span x-mojo-loc="">«Dïvïdêrs / Flêxíbl»</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id="togglesButton">
		<span x-mojo-loc="">«Togglé bü»</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id="groupsButton">
		<span x-mojo-loc="">«Grò»</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id="fancyChangeButton">
		<span x-mojo-loc="">«Mïsc s»</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id="showHideButton">
		<span x-mojo-loc="">«Show/H»</span>
	</button>
</div>
<div>
	<button class="palm-button small-button" id="widthsButton">
		<span x-mojo-loc="">«Wïdth óvérrïdës»</span>
	</button>
</div>


<div id="menudemo_outputDisplay">
</div>
