<div id="area-to-update">Press first button to activate spinner. It will stop spinning after 3 seconds</div>
<div x-mojo-element="Button" id="button-1"></div>
<div x-mojo-element="Button" id="button-2" class="myclass"></div>
<div x-mojo-element="Button" id="button-3"></div>
<div class="palm-button primary" id="update_button1">palm-button primary</div>
<div class="palm-button primary" id="update_button2">palm-button secondary</div>
<div class="palm-button selected" id="update_button3">palm-button selected</div>
<div class="palm-button affirmative" id="update_button4">palm-button affirmative</div>
<div class="palm-button negative" id="update_button5">palm-button negative</div>
<div class="palm-button dismissal" id="update_button6">palm-button dismissal</div>

<table width="100%">
	<tr>
		<td width="33%"><div id="saveButton" class="palm-button affirmative buttonfloat">Green</div></td>
		<td width="33%"><div id="restoreButton" class="palm-button buttonfloat">Grey</div></td>
		<td width="33%"><div id="removeButton"  class="palm-button negative buttonfloat">Red<div></td>
	</tr>
</table>	