
<div>
	
	<button id="switchModelsButton"><span x-mojo-loc="">«Swïtch mó»</span></button>
	<button id="focusButton"><span x-mojo-loc="">«Fòcûs lîst »</span></button>
	<button id="brokenButton"><span x-mojo-loc="">«Tëst brokëññéssT»</span></button>
	
	<div><span x-mojo-loc="">«Shów ædd ìtém:»</span><input checked="true" type="checkbox" id="addCheckbox" /></div>
	<div><span x-mojo-loc="">«Shów Lìst:Sho»</span><input checked="true" type="checkbox" id="visibleCheckbox" /></div>
	<div class="info-text">
		<span x-mojo-loc="">«Hérë ìs a l»</span>
	</div>
	
	<div id="editableListContainer">
		<div x-mojo-element="List" id="wordsList">
		</div>
	</div>
	
</div>