
<!--
	Note that nothing in here specifies IDs, since this scene is instantiated multiple times.
	Duplicate IDs are not allowed in HTML, so we avoid this by searching for 'name' instead, 
	specifically underneath the scene's div.  
-->

<div class="palm-hasheader">
	
	<!-- Label for the scene's nesting level. -->
	<div name="nestingLevel" class="info-text">
	</div>
	<div class="info-text">
		<span x-mojo-loc="">«Wâtch thé coñsólè lôg to séë thè hôw sëtüp/clëañüp/æctïváté/déactívåté arê cällëd às scéñês ärê pûshëd æñd poppêd¡Wætch th»</span>
	</div>
		
	<button class="palm-button">
		<span x-mojo-loc="">«pùsh âñothér s»</span>
	</button>
	
	<button class="palm-button">
		<span x-mojo-loc="">«póp thïs »</span>
	</button>
	
	<button class="palm-button">
		<span x-mojo-loc="">«pop twö scêñés¡pop»</span>
	</button>
	
	<button class="palm-button">
		<span x-mojo-loc="">«pop bÿ»</span>
	</button>
	
	<button class="palm-button">
		<span x-mojo-loc="">«Bäck to lïst»</span>
	</button>
	
</div>