<div id="e_example"><div class="palm-group">
	<div class="palm-group-title">Tap &amp; Hold Each Option</div>
	<div class="palm-list">
		<div class="palm-row first"  x-mojo-tap-highlight="immediate">
			<div class="palm-row-wrapper">
				<div class='title' id="immediate">Immediate</div>
			</div>
		</div>
		<div class="palm-row" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div class='title' id="momentary" >Momentary</div>
			</div>
		</div>
		<div class="palm-row last"  x-mojo-tap-highlight="persistent">
			<div class="palm-row-wrapper">
				<div class='title' id="persistent">Persistent</div>
			</div>
		</div>
	</div>
</div>
