<div class="palm-hasheader" id="drawer-main">
	<div>
		<div class="info-text">
			<span x-mojo-loc="">Here is a drawer:</span> <br>
			<button id="showDrawerButton"><span x-mojo-loc="">Show</span></button>
			<button id="hideDrawerButton"><span x-mojo-loc="">Hide</span></button>
		</div>
		
		<div id='hiddenDrawer' x-mojo-element="Drawer">
			<div class="palm-row" x-mojo-tap-highlight="momentary">
			  <div class="palm-row-wrapper">
				<div class="title">Ka-POW!</div>
			  </div>  
			</div>
			<div class="palm-row" x-mojo-tap-highlight="momentary">
			  <div class="palm-row-wrapper">
				<div class="title ">Where'd I come from?!</div>
			  </div>  
			</div>
		</div>
		
		 <div class="palm-group"> 
			<div class="palm-group-title">Click on 'Bake...' for choices</div>
			<div class="palm-list"> 
				<div class="palm-row first" x-mojo-tap-highlight="momentary"> 
					<div class="palm-row-wrapper"> 
						<div class="label">First Step</div> 
						<div class="title">Sift flour</div> 
					</div> 
				</div> 
				<div class="palm-row" id="timeToBake" x-mojo-tap-highlight="momentary"> 
					<div class="palm-row-wrapper"> 
						<div class="label">Next</div> 
						<div class="title">Bake me a cake</div>
					</div>
				</div> 
				
				<div id='cakeDrawer' x-mojo-element="Drawer">
				</div>
				
					
					
					
						
				<div class="palm-row last" x-mojo-tap-highlight="momentary"> 
					<div class="palm-row-wrapper"> 
						<div class="label">Finally</div> 
						<div class="title">It's cake time!</div> 
					</div> 
				</div> 
			</div> 
		</div>	 

		


<div style="height: 15px;">
</div>
</div>
