<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
	  Spinners
	</div>
</div>
<style media="screen" type="text/css">
	#activity-spinner {
		margin: 0px auto;
		width: 30px;
	}
</style>

<div class="palm-hasheader" id="groups-main">
	<div class="palm-header-spacer">
	  Large Default
	</div>

	<div x-mojo-element="Spinner" id="large-activity-spinner">
	</div>

	<div class="palm-header-spacer">
	  Small Default
	</div>

	<div x-mojo-element="Spinner" id="small-activity-spinner">
	</div>

	<div class="palm-header-spacer">
	  Custom
	</div>

	<div x-mojo-element="Spinner" id="custom-activity-spinner">
	</div>

	<div class="palm-button" id="spinner-on"><span x-mojo-loc="">Spin On</span></div>
	<div class="palm-button" id="spinner-off"><span x-mojo-loc="">Spin Off</span></div>


</div>


