
<div id="container">
<div class="palm-hasheader" id="themes-main" style="padding:5px;">
	<div class="palm-header left">
		Node ref.
	</div>
	<div style="height:100px;"></div>
	<div class="palm-row single">
		<div class="palm-row-wrapper">
			<div class="title">node ref</div>
			<div x-mojo-element="Button" id="button"></div>
		</div>
	</div>

	
	<div class="palm-row single">
		<div class="palm-row-wrapper">
			<div x-mojo-element="Button" id="removeButton"></div>
		</div>
	</div>
	<div class="palm-row single">
		<div class="palm-row-wrapper">
			<div x-mojo-element="Button" id="addButton"></div>
		</div>
	</div>
	
</div>

	<div id="dummyLogger" style="clear:both;">boomboombomm</div>

</div>