<div class="palm-hasheader" id="drawer-main">
	<div>
		<div class="info-text">
			<span x-mojo-loc="">«Hêrè ïs å drawër:»</span> <button id="toggleDrawerButton"><span x-mojo-loc=""></span></button><button id="linearButton"><span x-mojo-loc="">«Líñêæ»</span></button>
		</div>

		<div x-mojo-element="Drawer" id="listDrawer">
			<div x-mojo-element="List" id="wordsList"></div>
		<!--	<div class="palm-list">
				<div class="first row">
					<div class="title">
						<span x-mojo-loc="">This is some extra data.</span> 
					</div>
				</div>
				<div class="row">
					<div class="title">
						<span x-mojo-loc="">Here is some more data.</span> 
					</div>
				</div>
				<div class="last row">
					<div class="title">
						<span x-mojo-loc="">I know!</span> 
					</div>
				</div>
			</div>
		</div>	-->
	</div>


<div style="height: 15px;">
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span x-mojo-loc=""></span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<div class="title">
				<span x-mojo-loc=""></span> 
			</div>
		</div>
		<div class="row">
			<div class="title">
				<span x-mojo-loc=""></span> 
			</div>
		</div>
		<div class="last row">
			<div class="title">
				<span x-mojo-loc=""></span> 
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span x-mojo-loc=""></span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<div class="title">
				<span x-mojo-loc=""></span> 
			</div>
		</div>
		<div class="row">
			<div class="title">
				<span x-mojo-loc=""></span>
			</div>
		</div>
		<div class="last row">
			<div class="title">
				<span x-mojo-loc=""></span> 
			</div>
		</div>
	</div>
</div>
</div>
</div>