<div id="main">
<form name="addressingForm" id="addressingForm">
	<div class="email-composeview-from" id="email-composeview-from">
		<div class="email-composeview-from-text"><span x-mojo-loc="">«Frö»</span></div>
		<div class="email-composeview-from-name"><span x-mojo-loc="">«Saÿâño ÑækäñîshïS»</span></div>
	</div>
	<div name="searchList" x-mojo-element="AddressingWidget" id="searchList"></div>
	<div name="searchList2" x-mojo-element="AddressingWidget" id="searchList2"></div>
		<div name="searchList3" x-mojo-element="AddressingWidget" id="searchList3"></div>
<input type="text" id="nextFocusable" />
</form>
</div>