


	      <div id='timepicker' x-mojo-element="TimePicker"></div>

	
  <div class="palm-row" x-mojo-focus-highlight="true">
    <div class="palm-row-wrapper">     
      <div class="title">
	      <div id='datepicker' x-mojo-element="DatePicker"></div>
      </div>
    </div>
  </div>
  
  <div class="palm-row" x-mojo-focus-highlight="true">
    <div class="palm-row-wrapper">     
      <div class="title">
	      <div id='intpicker' x-mojo-element="IntegerPicker"></div>
      </div>
    </div>
  </div>    

	<div id='output' style="font-size:12pt;"></div>