<!-- Copyright 2010 Palm, Inc. All rights reserved. -->
<!-- Example template for a custom widget. See custom-widget/README for more info -->
<div class="submit-text">
  <div class="status-header">
    <div id="#{divPrefix}-update-status-text" class="status-textbox focused" x-mojo-element="TextField"></div>
  </div>
  <div id="#{divPrefix}-update-status-drawer" class="update-status-panel" x-mojo-element="Drawer">
    <div class="form-wrapper">
      <div id="#{divPrefix}-update-status-cancel" class="update-status-cancel" x-mojo-element="Button"></div>
      <div id="#{divPrefix}-update-status-submit" class="update-status-submit" x-mojo-element="Button"></div>
    </div>
  </div>
</div>
