<div id="main" class="palm-hasheader">
	<div class="palm-header left" id="create-header">
		Calendar Service Sample	  
	</div>
</div>

<div class="palm-button" id="setupEnvironment"> Create Account </div>

<div class="palm-button" id="createEvent"> Create calendar event </div>
	
<div class="palm-button" id="readEvent"> Read calendar event </div>

<div class="palm-button" id="updateEvent"> Update calendar event </div>

<div class="palm-button" id="deleteEvent"> Delete calendar event </div>

<div class="palm-button" id="showCalendar"> Show calendar </div>

<div id="callback"></div>

<div id="response"></div>