<div id="main" class="palm-hasheader">
	<div class="palm-header left" id="list-header">
	  Read a Calendar Event
	</div>
</div>
	
<div class="palm-button" id="read_button"> Read calendar event </div>

	<u>Event ID:</u>	<div id="eventID"></div>
	<u>Alarm:</u> 		<div id="alarm"></div>
	<u>Location:</u> 	<div id="location"></div>
	<u>All Day?</u>	<div id="allDay"></div>
	<u>Subject:</u>	<div id="subject"></div>
	<u>Start Time:</u>	<div id="startTime"></div>
	<u>End Time:</u>	<div id="endTime"></div>
	<u>Note:</u> 		<div id="note"></div>


<div class="palm-button" id="back_button">Back to Main View</div>

<div id="response"></div>