<div id="main" class="palm-hasheader small-font">
    <div id='selection'>
    </div>
    <div class="palm-list">
        <div class="first multi-line row" x-mojo-touch-feedback="immediate" id='any_example'>
            <div class="title">
                <span x-mojo-loc="">Pick any file</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">Default dialog</span>
            </div>
        </div>
        <div class="multi-line row"  x-mojo-touch-feedback="immediate" id='anymock_example'>
            <div class="title">
                <span x-mojo-loc="">Mock service</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">Use a mock service (no need to have fileindexer running)</span>
            </div>
        </div>
        <div class="multi-line row" x-mojo-touch-feedback="immediate"  id='fileonly_example'>
            <div class="title">
                <span x-mojo-loc="">File only</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">Only allow file selection</span>
            </div>
        </div>
        <div class="multi-line row"  x-mojo-touch-feedback="immediate" id='attachimage_example'>
            <div class="title">
                <span x-mojo-loc="">Image only</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">Only allow image selection, "attach" action type</span>
            </div>
        </div>
        <div class="multi-line row"  x-mojo-touch-feedback="immediate" id='attachimagecrop_example'>
            <div class="title">
                <span x-mojo-loc="">Image only (with crop)</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">Only allow image selection, "attach" action type, go into crop view</span>
            </div>
        </div>
        <div class=" multi-line row" x-mojo-touch-feedback="immediate"  id='audioandvideo_example'>
            <div class="title">
                <span x-mojo-loc="">Audio and video</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">Audio and video tab only (no default)</span>
            </div>
        </div>
        <div class=" multi-line row"  x-mojo-touch-feedback="immediate" id='audioandvideodefaultvideo_example'>
            <div class="title">
                <span x-mojo-loc="">Audio and video</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">Audio and video tab only (video default)</span>
            </div>
        </div>
		 <div class=" multi-line row"  x-mojo-touch-feedback="immediate" id='ringtone_example'>
            <div class="title">
                <span x-mojo-loc="">Ringtones</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">Allow ringtone selection</span>
            </div>
        </div>
        <div class="multi-line row"  x-mojo-touch-feedback="immediate" id='selectanydefaultimage_example'>
            <div class="title">
                <span x-mojo-loc="">Select all</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">With image by default, default action with "Select" action name</span>
            </div>
        </div>
    </div>
</div>
