<div id="main" class="palm-hasheader">
    <div class="palm-header left" id="main-hdr">
        Alarms
    </div>
</div>
	
<div>Alarm Type:</div>
<div id="radioButton" x-mojo-element="RadioButton"></div>

<div>Minutes until alarm activates:</div>
<div id="integer_field" name="integer_field" x-mojo-element="IntegerPicker"></div>

<div class="palm-button" id="setTimeout">
    Set Timeout 
</div>
<div class="palm-button" id="clearTimeout">
    Clear Timeout 
</div>
<div id="response">
   </div>
</div>