<div id="main" class="palm-hasheader">
	<div class="palm-header left">
		Email Sample
	</div>
	<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Enter email address</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div id="emailAddress" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-button" id="launchEmail">Launch email app</div>
	<div>Launch using URI</div>
	<div class="palm-button" id="withURI"> Launch compose view 1</div>	
	<div>Launch using JSON</div>
	<div class="palm-button" id="withJSON"> Launch compose view 2 </div>	
	

</div>
