
<div>
	
	<div class="info-text">
		<span x-mojo-loc="">Store list in DB under this key:</span>
	</div>
    <input id="keyTextfield"  type="text" value="key1" />   	
	
	<button id="saveButton"><span x-mojo-loc="">Save List</span></button>
	<button id="restoreButton"><span x-mojo-loc="">Restore List</span></button>
	<button id="discardButton"><span x-mojo-loc="">Discard Saved List</span></button>
	
	<div id="depotResult" class="info-text">
	  
	</div>
	
	<div id='editableListContainer'>
		<div id="wordsList" x-mojo-element="List" >
		</div>
	</div>
	
</div>
