<div class="palm-group">
<div class="palm-group-title">HTML Attribute Driven</div>
<div class="palm-list">
	<div class="palm-row no-highlight"  id="immediate" x-mojo-touch-feedback="immediate">
		<div class="palm-row-wrapper">
			<div class="title">
				This feedback is immediate
			</div>
		</div>
	</div>
	<div class="palm-row no-highlight"  id="immediatePersistent" x-mojo-touch-feedback="immediatePersistent">
		<div class="palm-row-wrapper">
			<div class="title">
				This feedback is immediate AND persistent
			</div>
		</div>
	</div>


	<div class="palm-row no-highlight"  id="momentary" x-mojo-touch-feedback="delayed">
		<div class="palm-row-wrapper">
			<div class="title">
				This feedback is delayed
			</div>
		</div>
	</div>
	<div class="palm-row no-highlight"  id="momentaryPersistent" x-mojo-touch-feedback="delayedPersistent">
		<div class="palm-row-wrapper">
			<div class="title">
				This feedback is delayed AND persistent
			</div>
		</div>
	</div>
</div>
</div>
</div>
	
<div class="palm-group">
<div class="palm-group-title">User Driven</div>
<div class="palm-button" id="immediateButton">Add Immediate</div><div class="palm-button" id="delayedButton">Add delayed</div><div class="palm-button" id="clearButton">Clear Specific</div><div class="palm-button" id="clearAnyButton">Clear Any</div>
<div class="palm-list">
	<div class="palm-row no-highlight"  id="immediateRow">
		<div class="palm-row-wrapper">
			<div class="title">
				This feedback is immediate AND user activated
			</div>
		</div>
	</div>
	<div class="palm-row no-highlight"  id="delayedRow">
		<div class="palm-row-wrapper">
			<div class="title">
				This feedback is delayed AND user activated
			</div>
		</div>
	</div>
</div>
</div>