<div class="info-text">
	<span x-mojo-loc="">Use these buttons to see various features:</span>
</div>

<div>
	<div class="palm-button small-button" x-mojo-tap-highlight="momentary" id='changeMenuButton'>
		<span x-mojo-loc="">Simple Buttons</span>
	</div>
</div>
<div>
	<div class="palm-button small-button" x-mojo-tap-highlight="momentary" id='dividersButton'>
		<span x-mojo-loc="">Dividers / Flexible spaces</span>
	</div>
</div>
<div>
	<div class="palm-button small-button" x-mojo-tap-highlight="momentary" id='togglesButton'>
		<span x-mojo-loc="">Toggle buttons</span>
	</div>
</div>
<div>
	<div class="palm-button small-button" x-mojo-tap-highlight="momentary" id='groupsButton'>
		<span x-mojo-loc="">Groups</span>
	</div>
</div>
<div>
	<div class="palm-button small-button" x-mojo-tap-highlight="momentary" id='fancyChangeButton'>
		<span x-mojo-loc="">Misc stuff</span>
	</div>
</div>
<div>
	<div class="palm-button small-button" x-mojo-tap-highlight="momentary" id='showHideButton'>
		<span x-mojo-loc="">Show/Hide</span>
	</div>
</div>
<div>
	<div class="palm-button small-button" x-mojo-tap-highlight="momentary" id='widthsButton'>
		<span x-mojo-loc="">Width overrides</span>
	</div>
</div>

<div>
	<div class="palm-button small-button" x-mojo-tap-highlight="momentary" id='longButton'>
		<span x-mojo-loc="">Long things</span>
	</div>
</div>

<div id='menudemo_outputDisplay'>
</div>
