<div class="palm-group">
	<div class="palm-group-title">Enter message</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="pal-row-wrapper">
				<div id="message" x-mojo-element='TextField'></div>
			</div>
		</div>
	</div>
</div>
<div class="palm-button" id="notify_button" x-mojo-tap-highlight="momentary"><span x-mojo-loc="">Notify</span></div>
<div class="palm-button" id="delayed_notify_button" x-mojo-tap-highlight="momentary"><span x-mojo-loc="">Delayed notify</span></div>
<div class="palm-button" id="close_notifications" x-mojo-tap-highlight="momentary"><span x-mojo-loc="">Clear</span></div>
