<div id="main" class="palm-hasheader">
	<div class="palm-header left" id="main-hdr">
	  System Sounds
	</div>
</div>
<div class='palm-row'>
	<div class="palm-row-wrapper">
		<div class="textfield-group" x-mojo-focus-highlight="true">
			<div class="title">    	
				<div class="label">Select Sound</div>
				<div x-mojo-element="ListSelector" id="soundSelector"></div>
			</div> 
		</div>
	</div>
</div>
<button id='sounds_button' class='palm-button'>Play System Sound 0</button>
<div id="area-to-update"></div>
