<style media="screen" type="text/css">
#two_dogs {
	width: 300px;
	height: 200px;
	margin: 0px auto;
	-webkit-user-drag: none;
	border: 1px solid #999;
}

#dog_spacer {
	height: 30px;
}

#scroll_mode_group {
	margin: 20px;
}

.dog_title {
	font-size: 18px;
	text-align: center;
}

#modeSelector {
}

.scroll-big-number {
	text-align: center;
	font-size: 300%;
}

#going-native {
	width: 300px;
	height: 200px;
	margin: 0px auto;
	border: 1px solid #999;
}

</style>
<div id="dog_spacer">
	
</div>
<div x-mojo-element="Scroller" id="two_dogs">
	<div id="scrolling_contents">
		
	</div>
</div>
<div class="palm-group unlabeled" id="scroll_mode_group">
	<div class="palm-list">
		<div class="first row">
			<div x-mojo-element="ListSelector" id="modeSelector"></div>
		</div>
		<div class="last row">
			<div x-mojo-element="ListSelector" id="sizeSelector"></div>
		</div>
	</div>
</div>
<p><span x-mojo-loc="">«Usè thë lïst sëlêctór åbovê to sëlêct å scróll mòdê æñd»</span></p>
<p><span x-mojo-loc="">«Fróm lëft tô rîgh»</span></p>
<p><span x-mojo-loc="">«Wâññàbé Rüñ's awësomë dáwsöñ CGC RÉ MX MXJ ÑFWâñ»</span></p>
<p><span x-mojo-loc="">«Ñütmêg CGC OA OÅJ AXp MJp RAÑútm»</span></p>
<div x-palm-pass-event="true" id="going-native"><span x-mojo-loc=""></span></div>