<div id="main">
	<div class="palm-header center" id="main-hdr">
	  File Picker
	</div>
</div>
<button class="palm-button" style="margin-top:50pt" id="push_button">Pick any File</button>
<button class="palm-button" id="push_button1">Pick a PDF or DOC File</button>
<button class="palm-button" id="push_button2">Pick a Song</button>
<button class="palm-button" id="push_button3">Pick a Picture</button>
<button class="palm-button" id="push_button4">Pick a Movie</button>
    <div id='selection'>
    </div>