
<div class="info-text">
	<span x-mojo-loc="">If you press the menu buttons, you'll see sample dialog boxes.</span>
</div>

<div id='dialogs_outputDisplay'>
</div>

<div class="info-text">
	<span x-mojo-loc="">Press the button below (and <b>wait</b>, <i>mea culpa</i>) to see a pop up alert.</span>
</div>

<div class="palm-button" id="popup_alert_button" x-mojo-tap-highlight="momentary"><span x-mojo-loc="">Dashboard alert</span></div>
<div class="palm-button" id="popup_dialog_button" x-mojo-tap-highlight="momentary"><span x-mojo-loc="">Pop up dialog</span></div>

