
<div style="height:50px; width:160px; border-top-width:20px; border-left-width:10px; border-style:solid; margin-top:20px; margin-left:10px; background-color:#494;">
	<div id='logtarget0' style="height:30px; width:100px; margin-top:10px; margin-left:10px; background-color:#C9C;"></div>
</div>

<div style="height:50px; width:160px; position:relative; border-top-width:20px; border-left-width:10px; border-style:solid; margin-top:10px; margin-left:10px; background-color:#494;">
	<div id='logtarget1' style="height:30px; width:100px; margin-top:10px; margin-left:10px; background-color:#C9C;"></div>
</div>

<div style="height:50px; width:160px; position:relative; border-top-width:20px; border-left-width:10px; border-style:solid; margin-top:10px; margin-left:10px; background-color:#494;">
	<div style="margin-left:-5px; margin-top:-10px;">
		<div id='logtarget2' style="height:30px; width:100px; margin-top:10px; margin-left:10px; background-color:#C9C;"></div>
	</div>
</div>


<div style="height:50px; width:160px; position:relative; margin-top:20px; margin-left:10px; background-color:#494;">
	<div style="margin-left:-5px; margin-top:-10px;">
		
		<div style="position:fixed; top:250px; left:100px; border-top-width:5px; border-left-width:5px; border-style:solid; background-color:#44F; height:50px; width:100px;">
			<div id='logtarget3' style="height:30px; width:100px; margin-top:10px; margin-left:10px; background-color:#C9C;"></div>
		</div>
		
		
	</div>
</div>



