<div class="info-text">
	<span x-mojo-loc="">«If ÿôú prëss thë mëñù bûttoñs, ÿóú'll sëé sæmplê dïàlòg»</span>
</div>

<div id="dialogs_outputDisplay">
</div>

<div class="info-text">
	<span x-mojo-loc="">«prëss thë bûttòñ bêlow (åñd <b>wâít</b>, <î>mëå cúlpa</ï>) tó sêê æ pop»</span>
</div>

<div x-mojo-element="TextField" id="textfield"></div>

<button class="palm-button" id="popup_alert_button"><span x-mojo-loc="">«pop üp älër»</span></button>
<button class="palm-button" id="popup_dialog_button"><span x-mojo-loc="">«pop üp díåelög»</span></button>
