


<div class="palm-hasheader">
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="disablerToggle" x-mojo-element="ToggleButton"></div>                                                   
				</div>
			</div>
			
			<div class="palm-row" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="firstSelector" x-mojo-element="ListSelector"></div>
				</div>
			</div> 
			
			<div class="palm-row last" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="secondSelector" x-mojo-element="ListSelector"></div>   
				</div>
			</div>
		</div>     	
	</div>
	                   
	<div class="info-text">	
		<div id="currentStuff">
		</div>
	</div>                                               

	
</div>
