<div class="palm-hasheader small-font" id="main">
    <div class="palm-header left">
        <span x-mojo-loc="">«Fílê pícké»</span>
    </div>
    <div id="selection">
    </div>
    <div class="palm-list">
        <div class="first multi-line row" id="any_example">
            <div class="title">
                <span x-mojo-loc="">«pîck æñÿ fïlêpî»</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">«Défaûlt dïålogDêfæ»</span>
            </div>
        </div>
        <div class="multi-line row" id="anymock_example">
            <div class="title">
                <span x-mojo-loc="">«Mock sërvìc»</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">«Üsë å mock sërvìcë (ño ñêëd tó havê fîléîñdêxèr rúññíñg)Usë â móc»</span>
            </div>
        </div>
        <div class="multi-line row" id="fileonly_example">
            <div class="title">
                <span x-mojo-loc="">«Fîlê oñlÿFì»</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">«Oñlÿ allow fílë sélêctîóñOñlÿ å»</span>
            </div>
        </div>
        <div class="multi-line row" id="attachimage_example">
            <div class="title">
                <span x-mojo-loc="">«Imâgë öñl»</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">«Oñlÿ allöw ïmagë sélèctïoñ, "ættach" á»</span>
            </div>
        </div>
        <div class=" multi-line row" id="audioandvideo_example">
            <div class="title">
                <span x-mojo-loc="">«Aüdïo añd vïd»</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">«Aúdïo âñd vïdëö täb ôñlÿ (ñö d»</span>
            </div>
        </div>
        <div class=" multi-line row" id="audioandvideodefaultvideo_example">
            <div class="title">
                <span x-mojo-loc="">«Aüdïo añd vïd»</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">«Aüdîô æñd vîdëó tæb oñlÿ (vídêò dêfàûlt)Aùdîo âñd»</span>
            </div>
        </div>
        <div class="multi-line row" id="selectanydefaultimage_example">
            <div class="title">
                <span x-mojo-loc="">«Sêlèct állSêl»</span>
            </div>
            <div class="preview">
                <span x-mojo-loc="">«Wïth ìmágé bÿ dêfaûlt, dêfaûlt áctîoñ wíth "Sêléct"»</span>
            </div>
        </div>
    </div>
</div>
