
<div id="scrollerContainer" style="width: 320px; height: 400px;">
	<div id="horz_scroller" x-mojo-element="Scroller">
		<div id="horz_scrolling_contents" style="width: 1024px; height: 350px; ">
			<div id='horz-only' style="width: 1024px; height: 100px;">
				<table style="width:100%;">
					<tr>
						<td class="snap" style="text-align: center; height: 100px; background: red">
							AAAA
						</td>
						<td class="snap" id="B" style="text-align: center; height: 100px; background: green">
							BBBB
						</td>
						<td class="snap" style="text-align: center; height: 100px; background: blue">
							CCCC
						</td>
					</tr>
				</table>
			</div>   
			<div id="vert_scroller" x-mojo-element="Scroller" style="width: 1024px; height: 300px; ">
				<div id="vert_scrolling_contents" style="width: 1024px; height: 652px; text-align:center; ">
					<image id='cake_img' src='images/cookiecake.jpg'></image>
				</div>
			</div>	
		</div>
	</div>
</div>
