<style media="screen" type="text/css">

#richtext-editor {
	-webkit-user-select: text;
	-webkit-user-modify: read-write;
	width: 300px;
	min-height: 200px;
	border: 1px solid #999;
	margin: 0px auto;
}

</style>
<p><span x-mojo-loc="">«Tÿpè îñ rîch tèxt bëlow»</span></p>
<div class="richtext-editor" id="richtext-editor">
	<span x-mojo-loc="">«Lorêm ïpsüm dolör sït åmét, coñsêctêtùr ådîpísìcïñg ëlït, sëd do êïûsmöd tèmpor îñcìdìdùñt üt läböré êt dolorè mâgñæ álîqüa. Ut éñím ad mïñîm vèñîâm, qüîs ñostrúd éxêrcîtatïòñ úllàmco læbörís ñïsí út álïqûìp èx êå cömmôdô coñséqüät. Düîs âûté ïrúrê dölôr ìñ rêprëhéñdèrít íñ völúptâtê vélít èssë cïllüm dôloré èú fügíåt ñûllæ pårïâtúr. Excêptëûr sîñt occäêcât cûpîdatæt ñoñ prôïdèñt, süñt ìñ cúlpá qùî offîcïá dêsérúñt möllït añîm ïd ést låbörüm.Lorêm ïpsúm dolòr sìt åmët, cóñsêctètür âd»</span>
</div>
<button class="palm-button" id="bold_button"><span x-mojo-loc="">«BoldB»</span></button>
