


<div class="palm-hasheader">
	
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="first row">
				<div x-mojo-element="ListSelector" id="laughSelector">
				</div>
			</div>
			
			<div class="last row">
				<div x-mojo-element="ListSelector" id="commotionSelector">
				</div>
			</div>
		</div>
	</div>


	<div class="palm-list">
		<div class="last row">
			<div x-mojo-element="ListSelector" id="workSelector">
			</div>
		</div>
	</div>
	
	
	<div class="info-text">	
		<div id="currentStuff">
		</div>
	</div>
		
</div>