<div class="palm-hasheader" >
	<div class="palm-header left">
		<span x-luna-loc="">Cross-Application Launch</span>
	</div>
</div>
<div class="palm-header-spacer" style="height:60px"></div>
<div id="scene_loading"><p><strong>Light-Weight Application scene 1 loading...</strong></p></div>
<div id="text"><p>Pushing the below button will result in the first scene of the Light-Weight Application sample 
to be cross app pushed onto this scene stack.</p>
<p>After running the Light-Weight Application, use the back gesture to return to this application.</p></div>
<button id='cross_app_button' class='palm-button'>Launch Light-Weight App</button>
<!-- <button id='integerPicker_button' class='palm-button'>Integer Picker</button> -->
